<div id="<%= dom_id event_instance %>">
  <p>
    <strong>Event:</strong>
    <%= event_instance.event_id %>
  </p>

  <p>
    <strong>Is tiebreaker:</strong>
    <%= event_instance.is_tiebreaker %>
  </p>

</div>
