<h1>Editing event instance</h1>

<%= render "form", event_instance: @event_instance %>

<br>

<div>
  <%= link_to "Show this event instance", @event_instance %> |
  <%= link_to "Back to event instances", event_instances_path %>
</div>
