<h1>Editing bubblecup</h1>

<%= render "form", bubblecup: @bubblecup %>

<br>

<div>
  <%= link_to "Show this bubblecup", @bubblecup %> |
  <%= link_to "Back to bubblecups", bubblecups_path %>
</div>
